<html lang="en">

  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Meta info for sharing your site -->
    <link rel="canonical" href="https://wtf-poster.glitch.me/" />
    <meta
      name="description"
      content="A daft social media autoposter, built with Glitch. Remix it to get your own."
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="WTF Poster!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://wtf-poster.glitch.me/" />
    <meta
      property="og:description"
      content="A daft social media autoposter."
    />
    <meta
      property="og:image"
      content="efc5414a-882b-4708-af81-8461abbc1a82_glitchdarkgreens.png"
    />
    <meta name="twitter:card" content="summary" />
    <title>WTF Poster!</title>

    <link rel="stylesheet" href="/style.css" />

  </head>

  <body>
    <div class="wrapper">
      <div class="content" role="main">

        <h1>WTF Poster!</h1>
        <p>
          Hi this is a daft app for posting to Bluesky and Mastodon.
        </p>
        <ul>
          <li><a href="https://mastodon.social/@suewtf" rel="me">@suewtf</a>
            on Mastodon</li>
          <li><a href="https://bsky.app/profile/www.sue.wtf">@www.sue.wtf</a>
            on Bluesky</li>
        </ul>

        <p>
          Remix and check out the README to make your own!
        </p>
      </div>
    </div>
    <footer class="footer">
      <a
        class="btn--remix"
        target="_top"
        href="https://github.com/SueSmith/wtf-poster"
      >
        🚧
        Get your own app
      </a>
    </footer>
  </body>

</html>